* {
	box-sizing: border-box;
}

html, body {
	height: 100%;
	width: 100%;
	//background: black;
	font-family: 'Arial', Helvetica, sans-serif;
}

.main {
	display: block;
}

.wrapper {
	position: relative;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	flex-wrap: wrap;

	width: 1020px;
	margin: 0 auto;
	margin-top: 20px;
	margin-bottom: 20px;
	right: -18px;
}

.btn {
	display: block;
	margin: 0 auto;
	padding: 5px 10px;
	border: none;
	background: linear-gradient(to right, rgb(55, 59, 68), rgb(66, 134, 244));
	color: #ffffff;
}